
body{
    font-family: 'Roboto', sans-serif;
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

} 

#container {
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    width: 75%;
    background: #e9f7f7;
    margin: 75px auto;
}

h1{
    background: #07dfeb;
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
}

input{
    font-size: 18px;
    background-color: #e9f7f7;
    border: none;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #2980b9;
    border: 3px solid rgba(0,0,0,0);
}

input:focus{
    background: white;
    border: 3px solid #07dfeb;
    outline: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}



li{
    background: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:hover #trash{
    width: 40px;
    opacity: 1;
}

li:hover #play{
    width: 40px;
    opacity: 1;
}

li:hover #stop{
    width: 40px;
    opacity: 1;
}

li:nth-child(2n){
    background: #e9f7f7;
}

#trash{
    background: #e85870;
    height: 40px;
    width: 0;
    text-align: center;
    color: white;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

#play{
    background: #a0ff3b;
    height: 40px;
    width: 0;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

#stop{
    background: #6671ed;
    height: 40px;
    width: 0;
    margin-right: 20px;
    text-align: center;
    color: white;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}


.fa-plus-square{
    float: right;
}


